@using Corno.Web.Globals
@using Kendo.Mvc.UI
@model Corno.Web.Areas.BoardStore.Models.Item

@{
    ViewBag.Index = "Index";
    ViewBag.Create = "Create";
    ViewBag.Edit = "Edit";
    ViewBag.Details = "Details";
    ViewBag.Delete = "Delete";
}

@{
    Page.Title = "Item";
    ViewBag.MainMenu = "BoardStore";
    ViewBag.CurrentSitemap = "Item";
    ViewBag.Controller = "Item";
}


@Html.HiddenFor(m => m.Id)

<div class="row">
    @Html.Partial("Partials/_MasterEdit", Model)
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group row">
            @Html.LabelFor(m => m.StockQuantity, "Stock Quantity :",
                new { @class = "col-sm-4" })
            <div class="col-8">
                @(Html.Kendo().NumericTextBoxFor(m => m.StockQuantity)
                    .HtmlAttributes(new
                    {
                        @class = "w-100"
                    }))
            </div>
        </div>
        <br />
        <div class="form-group row">
            @Html.LabelFor(m => m.Thickness, "Thickness :",
                new { @class = "col-sm-4" })
            <div class="col-8">
                @(Html.Kendo().NumericTextBoxFor(m => m.Thickness)
                    .HtmlAttributes(new
                    {
                        @class = "w-100"
                    }))
            </div>
        </div>
        <br />
        <div class="form-group row">
            @Html.LabelFor(m => m.Length, "Length :",
                new { @class = "col-sm-4" })
            <div class="col-8">
                @(Html.Kendo().NumericTextBoxFor(m => m.Length)
                    .HtmlAttributes(new
                    {
                        @class = "w-100"
                    }))
            </div>
        </div>
        <br />
        <div class="form-group row">
            @Html.LabelFor(m => m.Width, "Width :",
                new { @class = "col-sm-4" })
            <div class="col-8">
                @(Html.Kendo().NumericTextBoxFor(m => m.Width)
                    .HtmlAttributes(new
                    {
                        @class = "w-100"
                    }))
            </div>
        </div>
        <br />
        <div class="form-group row">
            @Html.LabelFor(m => m.WeightTolerance, "Weight Tolerance :",
                new { @class = "col-sm-4" })
            <div class="col-8">
                @(Html.Kendo().NumericTextBoxFor(m => m.WeightTolerance)
                    .HtmlAttributes(new
                    {
                        @class = "w-100"
                    }))
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            @Html.LabelFor(m => m.Weight, "Standard Weight :",
                new { @class = "col-sm-4" })
            <div class="col-8">
                @(Html.Kendo().NumericTextBoxFor(m => m.Weight)
                    .HtmlAttributes(new
                    {
                        @class = "w-100"
                    }))
            </div>
        </div>
        <br />
        <div class="form-group row">
            @Html.LabelFor(m => m.ThicknessTolerance, "Thickness Tolerance :",
                new { @class = "col-sm-4" })
            <div class="col-8">
                @(Html.Kendo().NumericTextBoxFor(m => m.ThicknessTolerance)
                    .HtmlAttributes(new
                    {
                        @class = "w-100"
                    }))
            </div>
        </div>
        <br />
        <div class="form-group row">
            @Html.LabelFor(m => m.LengthTolerance, "Length Tolerance :",
                new { @class = "col-sm-4" })
            <div class="col-8">
                @(Html.Kendo().NumericTextBoxFor(m => m.LengthTolerance)
                    .HtmlAttributes(new
                    {
                        @class = "w-100"
                    }))
            </div>
        </div>
        <br />
        <div class="form-group row">
            @Html.LabelFor(m => m.WidthTolerance, "Width Tolerance :",
                new { @class = "col-sm-4" })
            <div class="col-8">
                @(Html.Kendo().NumericTextBoxFor(m => m.WidthTolerance)
                    .HtmlAttributes(new
                    {
                        @class = "w-100"
                    }))
            </div>
        </div>
        <br />
    </div>
</div>
