@using Corno.Web.Globals
@using Corno.Web.Helper
@model Corno.Web.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";

    ViewBag.Controller = "Account";
    ViewBag.SubmitAction = "Change Password";
    ViewBag.BoxTitle = "Change Password";
    ViewBag.Title = "Change Password";
}

@*<div class="row">
        <h6 class="col-8">
            <span class="k-icon k-i-plus-outline k-icon-md k-text-success k-icon-20"></span>
            @StringExtensions.SplitCamelCaseWithNewLine(ViewBag.BoxTitle?.ToString())
        </h6>
    </div>
    <br/>*@

@Html.HiddenFor(m => m.Status)

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "form", @class = "" }))
{
    <div class="row">
        <div class="form-group required row">
            <div class="col-8">
                @(Html.Kendo().TextBoxFor(m => m.UserName)
                    .Rounded(Rounded.Medium)
                    .Label(label => label
                        .Content("User Name")
                        .Floating(true))
                    .HtmlAttributes(new
                    {
                        @class = "required w-100",
                        style = "width: 100%;"
                    }))
            </div>
        </div>
        <div class="form-group required row">
            <div class="col-8">
                @(Html.Kendo().TextBoxFor(m => m.NewPassword)
                    .Rounded(Rounded.Medium)
                    .Label(label => label
                        .Content("New Password")
                        .Floating(true))
                    .HtmlAttributes(new
                    {
                        @class = "required w-100",
                        style = "width: 100%;",
                        type = "password"
                    }))
            </div>
        </div>
        <div class="form-group required row">
            <div class="col-8">
                @(Html.Kendo().TextBoxFor(m => m.ConfirmPassword)
                    .Rounded(Rounded.Medium)
                    .Label(label => label
                        .Content("Confirm Password")
                        .Floating(true))
                    .HtmlAttributes(new
                    {
                        @class = "required w-100",
                        style = "width: 100%;",
                        type = "password"
                    }))
            </div>
        </div>
    </div>

    <div class="col-2 offset-10">
        @(Html.Kendo().Button()
            .Name("submit")
            .Content("Change Password")
            .ApplyStandardSettingsWithType(ButtonType.Save, "password", ComponentSize.Medium)
            .HtmlAttributes(new
            {
                type = "submit",
                @class = "w-95 offset-4 col-8",
                style = "height:40px"
            }))
    </div>
}



    <div class="container-fluid">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "form", @class = "" }))
        {
            @*@Html.AntiForgeryToken();*@
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

            @*@Html.EditorFor(m => m.UserName, new { Name = "User Name " })
                @Html.EditorFor(m => m.NewPassword, new { Name = "Password ", type = "Password" })
                @Html.EditorFor(m => m.ConfirmPassword, new { Name = "Confirm Password ", type = "Password" })*@


            @*@(Html.Kendo().Button()
                .Name("submit")
                .Icon("password")
                .SpriteCssClass("k-icon-64")
                .HtmlAttributes(new
                {
                    type = "submit",
                    @class = "k-primary rounded-lg text-white k-icon-48 w-95 offset-4 col-8",
                    style = "height:40px"
                })
                .Content("Change Password"))*@
            @*<div class="col-2 offset-10">
                    <button class="k-button k-button-md k-button-rectangle k-rounded-lg k-button-outline
                            k-button-outline-secondary w-100"
                            id="save" name="action:ChangePassword" type="submit" data-role="button" role="button"
                            aria-disabled="false" tabindex="0">
                        <span class="k-icon k-i-password text-success"></span>
                        <span class="k-button-text"> Change Password </span>
                    </button>
                </div>*@
        }
    </div>
    <script type="text/javascript">

    $(document).ready(function () {
        if ('@Model.Status' === "Successful") {
            $('#Status').val(null);
            showSuccessMessage("Changed password successfully.");
        }
    });
    </script>

    <style>
        .k-icon-20 {
            font-size: 18px; /* Sets icon size to 48px */
        }
    </style>
