@model Corno.Web.Areas.Euro.Models.EuroLabel

@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewBag.BoxTitle = "Label Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Label Information</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>OC No:</label>
                                <p class="form-control-static">@Model.OcNo</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Label Date:</label>
                                <p class="form-control-static">@(Model.LabelDate?.ToString("dd/MM/yyyy") ?? "N/A")</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Description:</label>
                                <p class="form-control-static">@Model.Description</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Barcode:</label>
                                <p class="form-control-static">@Model.Barcode</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item Code:</label>
                                <p class="form-control-static">@Model.ItemCode</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quantity:</label>
                                <p class="form-control-static">@Model.Quantity</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status:</label>
                                <p class="form-control-static">@Model.Status</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Lot No:</label>
                                <p class="form-control-static">@Model.LotNo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Index", "ItemLabel", new { area = "Euro" })" class="btn btn-default">
                        <i class="fa fa-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
