@using Corno.Web.Globals
@using Corno.Web.Helper
@using Kendo.Mvc.UI
@*@model Corno.Concept.Modules.Packing.Models.Label*@
@model Corno.Web.Areas.Kitchen.Dto.StoreShirwalLabel.StoreShirwalCrudDto

@{
    string controllerName = "Label";
    string action = "CreateStoreShirwal";
}

@{
    ViewBag.BoxTitle = "Store Shirwal";
    ViewBag.Title = "Store Shirwal";
}

<div class=" k-content">
    @using (Ajax.BeginForm(action, controllerName, new AjaxOptions { HttpMethod = "POST", OnComplete = "displayUploadMediaMsg" }, new { enctype = "multipart/form-data", id = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-6">
                <!-- Placeholder for the partial view -->
                <div id="partialViewContainer" style="height: 100%"></div>
            </div>
            <div class="col-6">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group required row">
                        @Html.LabelFor(m => m.WarehouseOrderNo, "Warehouse Order:", new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @(Html.Kendo().TextBoxFor(m => m.WarehouseOrderNo)
                                .HtmlAttributes(new
                                {
                                    required = "required",
                                    @class = "col-12"
                                }))
                        </div>
                    </div>

                    <div class="form-group required row">
                        @Html.LabelFor(m => m.Family, "Family :", new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @(Html.Kendo().MultiColumnComboBoxFor(m => m.Family)
                                .DataTextField(FieldConstants.Family)
                                .DataValueField(FieldConstants.Family)
                                .HtmlAttributes(new { required = "required", @class = "w-100" })
                                .Filter("contains")
                                .Placeholder("Select ...")
                                .Suggest(true)
                                // .Events(e => e.Select("OnLotSelect"))
                                .Columns(columns => { columns.Add().Field(FieldConstants.Family).Title(FieldConstants.Family); })
                                .DataSource(dataSource => dataSource
                                    .Read(read => { read.Action("GetStoreShirwalFamilies", "Label").Data("getFamilyParameters"); })
                                    .ServerFiltering(true)
                                )
                                .AutoBind(false))
                            <script>
                                function getFamilyParameters() {
                                    return {
                                        warehouseOrderNo: $('#WarehouseOrderNo').val()
                                    }
                                }
                            </script>
                        </div>
                    </div>
                    <div class="k-actions k-actions-horizontal k-actions-end">
                        @(Html.Kendo().Button()
                            .Name("preview")
                            .Content("Preview")
                            .ApplyStandardSettingsWithType(ButtonType.Info, "preview", ComponentSize.Medium)
                            .Events(e => e.Click("onPrintLabel"))
                            .HtmlAttributes(new {
                                type = "submit",
                                name = "action:Preview"
                            }))

                        @(Html.Kendo().Button()
                            .Name("print")
                            .Content("Print")
                            .ApplyStandardSettingsWithType(ButtonType.Primary, "print", ComponentSize.Medium)
                            .HtmlAttributes(new
                            {
                                type = "submit",
                                name = "action:Print",
                                @class = ""
                            }))
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#form").kendoValidator({
            rules: {
                requiredMultiColumnComboBox: function (input) {
                    if (input.is("[data-role=multicolumncombobox]")) {
                        return input.val() !== "";
                    }
                    return true;
                },
                requiredDatePicker: function (input) {
                    if (input.is("[data-role=datepicker]")) {
                        var value = input.val();
                        // Check if the value is a valid date
                        return kendo.parseDate(value) !== null;
                    }
                    return true;
                }
            },
            messages: {
                requiredMultiColumnComboBox: function (input) {
                    var comboBoxName = input.attr("name");
                    switch (comboBoxName) {
                        case "LotNo":
                            return "Please select Lot No.";
                        case "DrawingNo":
                            return "Please select Drawing No.";
                        // Add cases for other comboboxes as needed
                        default:
                            return "Please select a value for the ComboBox.";
                    }
                },
                requiredDatePicker: "Please select due date."
            }
        });

        LoadPartialView()
    });

    function LoadPartialView(toPrinter) {
        $.ajax({
            url: '/Label/LoadPartialView', // Replace with your actual controller and action
            method: 'GET',
            data: { 'partialViewName': 'Partials/ReportViewer_New' },
             success: function (partialHtml) {
             // Inject the partial view into the container
             // Load HTML content into the element
             $('#partialViewContainer').html(partialHtml, function () {
                 // This code will execute after the HTML content has been loaded
                 console.log("HTML content loaded successfully");

             });

             // Delay the execution of the next statement by a short duration
             setTimeout(function () {
                 // This code will execute after a short delay
                 console.log("Timeout HTML content loaded successfully");
                 if ('@Model.PrintToPrinter' === 'True' || toPrinter === true) {
                     printToPrinter();
                 }
             }, 1000); // Adjust the delay duration as needed


             },
             error: function () {
                 console.error('Failed to load the partial view.');
             }
        });
    }

    $(document).ready(function () {
        LoadPartialView()
    });

    function OnWarehouseOrderNoChange() {
        var cmbWarehouseOrderNo = $("#WarehouseOrderNo").data("kendoMultiColumnComboBox");
        cmbWarehouseOrderNo.dataSource.read();

    };

    function onPrintLabel(e) {
        $.ajax({
            url: '/Label/PreviewStoreShirwal', // Replace ControllerName with your actual controller name
            type: 'POST',
            data: { /* Pass any required data here */ },
            success: function (response) {
                // Handle the success response (e.g., update the view or show a message)
                console.log("Preview successfully processed.");
            },
            error: function (xhr, status, error) {
                // Handle the error response
                console.error("Error occurred: ", error);
            }
        });
    }
</script>

