@using Corno.Concept.Portal.Areas.Kitchen.Models
@using Corno.Concept.Portal.Helper
@using Kendo.Mvc.UI
@using StringExtensions = Corno.Patterns.Extensions.StringExtensions
@model Corno.Concept.Portal.Areas.Kitchen.Models.OperationViewModel
@*@model Corno.Models.ViewModels.OperationRequest*@

@*demo*@

@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
@{
    var controller = "PackingWeighing";
    var gridReadAction = "GetGridDataSource";
    var area = "Kitchen";
}
@{
    ViewBag.Controller = "PackingWeighing";
    ViewBag.Area = "Kitchen";
    ViewBag.SubmitAction = "PackingWeighing";
    var controllerName = "PackingWeighing";
    var action = "PackingWeighing";
}

@{
    ViewBag.BoxTitle = "Packing Weighing";
    ViewBag.Title = "Packing Weighing";
}
@section sectionBaseHeader{
    <div class="row">
        <h6 class="col-10">
            <span class="k-icon k-i-plus k-icon k-text-success"></span>
            @StringExtensions.SplitCamelCaseWithNewLine(ViewBag.BoxTitle?.ToString())
        </h6>
    </div>
}


<div class=" k-content">
    @using (Ajax.BeginForm(action, controllerName, new AjaxOptions { HttpMethod = "POST", OnComplete = "displayUploadMediaMsg" }, new { enctype = "multipart/form-data", id = "form" }))
    {
        <div class="col-12">
            @(Html.Kendo().TabStrip()
                .Name("tabstrip")
                .Items(tabstrip =>
                {
                    tabstrip.Add().Text("Dashboard")
                        .Selected(true)
                        .Content(@<text><br/>
                                     <div class="form-group row">
                                         <div id="divPartial" class="col-6" style="height: 350px">
                                             @*@RenderSection("WeighingScale", false)*@
                                             @Html.Partial("Partials/ReportViewer_Html5", "reportViewerPackingWeighing")
                                         </div>
                                         <div class="col-3">
                                             <button type="button" id="btnDuplicate" class="k-button k-button-md k-button-outline k-button-outline-success form-control"
                                                     onclick="duplicate()">
                                                 <i class="fa fa-copy"></i>
                                                 Duplicate
                                             </button>
                                         </div>
                                         <div class="col-3">
                                             <button type="button" id="btnDelete" class="k-button k-button-md k-button-outline k-button-outline-success form-control"
                                                     onclick="delete()">
                                                 <i class="fa fa-copy"></i>
                                                 Delete Carton
                                             </button>
                                         </div>
                                     </div>

                                  </text>);
        @*tabstrip.Add().Text("Search")
            .Content(@<text>

                      </text>);*@
                    tabstrip.Add().Text("Operation")
                        .Content(@<text>
                                     <div class="row">
                                         <div class="col-12">
                                             <div class="row">
                                                 @(Html.Kendo().TextBoxFor(m =>
                                                     m.Barcode)
                                                     //.Events(e => e.Change("onChange"))
                                                     .HtmlAttributes(new { @class = "w-100", onkeypress = "onKeyPress(event)" })
                                                     .Placeholder("Scan Barcode here"))
                                             </div>
                                             <hr/>
                                             <div class="row">
                                                 <div class="col-7">
                                                     @(Html.Kendo().Grid<OperationViewModel>()
                                                         .Name("grid")
                                                         .Columns(columns =>
                                                         {
                                                             //columns.Bound(c => c.SerialNo).Width(130);
                                                             columns.Bound(c => c.PackingDate).Format("{0:dd/MM/yyyy}").Width(120);
                                                             columns.Bound(c => c.WarehouseOrderNo).Width(200);
                                                             columns.Bound(c => c.WarehousePosition).Width(200);
                                                             columns.Bound(c => c.Position).Width(90);
                                                             columns.Bound(c => c.ItemCode).Width(190);
                                                             columns.Bound(c => c.Description).Width(460);
                                                             columns.Bound(c => c.Quantity).Width(90);
                                                             columns.Bound(c => c.SystemWeight).Width(90);
                                                             columns.Bound(c => c.NetWeight).Width(90);
                                                             columns.Bound(c => c.Barcode).Width(120);
                                                             columns.Bound(c => c.Status).Width(90);

                                                             columns.Command(command => { });
                                                         })
                                                         .ApplyIndexSettings() // 👈 Apply index settings (full height, responsive)
                                                         .Events(evnts => {
                                                             evnts.ApplyCommonEvents();
                                                             evnts.DataBound("onDataBound");
                                                         })
                                                         .AutoBind(false)
                                                         .DataSource(dataSource => dataSource
                                                             .Ajax()
                                                             .Read(read => read.Action(gridReadAction, controller, new { area = area })
                                                                 .Data("getAdditionalData"))
                                                             .PageSize(20))
                                                         )
                                                 </div>
                                                 <script>
                                                    function getAdditionalData() {
                                                        return {
                                                            operationResponse: '@Model',
                                                            barcode: $("#Barcode").val()
                                                        };
                                                    }
                                                </script>
                                                 <div class="col-5">
                                                     @*<div id="h1Weight" class=" font-weight-bold bg-danger text-center text-white w-50">
                                                    0.000
                                                        <h1 class="w-100">0.000</h1>
                                                    </div>*@
                                                     <div class="form-group row">
                                                         <table class="table table-bordered">
                                                             <tr>
                                                                 <td>Code</td>
                                                                 <td id="tdItemCode"></td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Name</td>
                                                                 <td id="tdItemName"></td>
                                                             </tr>
                                                             <tr>
                                                                 <td>System Weight</td>
                                                                 <td id="tdSystemWeight"></td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Tolerance</td>
                                                                 <td id="tdTolerance"></td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Net Weight</td>
                                                                 <td id="tdNetWeight"></td>
                                                             </tr>
                                                             <tr>
                                                                 <td>Total Weight</td>
                                                                 <td id="tdTotalWeight"></td>
                                                             </tr>
                                                         </table>
                                                         <div class="col-4">
                                                             @(Html.Kendo().Button()
                                                                 .Name("print")
                                                                 .Content("Print")
                                                                 .ApplyStandardSettingsWithType(ButtonType.Primary, "print", ComponentSize.Medium)
                                                                 .Events(ev => ev.Click("onPrintClick"))
                                                                 .HtmlAttributes(new
                                                                 {
                                                                     type = "submit",
                                                                     @class = "col-12 form-label"
                                                                 }))
                                                         </div>
                                                         <div class="col-4">
                                                             @(Html.Kendo().Button()
                                                                 .Name("cancel")
                                                                 .Content("Cancel Carton")
                                                                 .ApplyStandardSettingsWithType(ButtonType.Cancel, "cancel", ComponentSize.Medium)
                                                                 .Events(ev => ev.Click("onCancelCartonClick"))
                                                                 .HtmlAttributes(new
                                                                 {
                                                                     type = "submit",
                                                                     @class = "col-12 form-label"
                                                                 }))
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                  </text>);
                    tabstrip.Add().Text("Reports")
                        .Content(@<text>

                                  </text>);
                }).SelectedIndex(0))
        </div>
    }
</div>

<script type="text/javascript">

    function LoadGrid() {
        //alert('Loading Grid');
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
    }

    function onKeyPress(e) {
        //alert(e.keyCode);
        if (e.keyCode === 13) {
            //alert("omg you pressed the Enter key. How dare you!");
            var formData = new FormData($('form')[0]); // Create an arbitrary FormData instance
            formData.append('barcode', $("#Barcode").val());
            var action = "GetLayoutDataSource";
            var url = '@Url.Action(@"GetLayoutDataSource", controllerName, new { area = area })'; // url
            send_ajax_request(url, formData, action);

            // Load Grid
            LoadGrid();
            e.preventDefault();
        }

    }

    function onCancelCartonClick() {
        var action = "ClearControls";
        var url = '@Url.Action(@"ClearControls", controllerName, new { area = area })'; // url
        var formData = new FormData($('form')[0]); // Create an arbitrary FormData instance
        // alert("hi");
        send_ajax_request(url, formData, action);
    }

    function onPrintClick() {
        var action = "GetPrint";
        var url = '@Url.Action(@"GetPrint", controllerName, new { area = area })'; // url
        var formData = new FormData($('form')[0]); // Create an arbitrary FormData instance
        alert("hi");
        send_ajax_request(url, formData, action);
    }

    function handle_ajax_response(result, action) {
        // alert(JSON.stringify(result));
        if (!result.error) {
            switch (action) {
            case "GetLayoutDataSource":
                if (result.Data === undefined || result.Data === null)
                    return;
                if (result.Data[0] === undefined || result.Data[0] === null)
                    return;

                $("#tdItemCode").html(result.Data[0].Code);
                $("#tdItemName").html(result.Data[0].Name);
                $("#tdSystemWeight").html(result.Data[0].SystemWeight);
                $("#tdTolerance").html(result.Data[0].Tolerance);
                $("#tdNetWeight").html(result.Data[0].NetWeight);
                $("#tdTotalWeight").html(result.Data[0].TotalWeight);
                $("#Barcode").data("kendoTextBox").value('');
                return;
            case "ClearControls":
            case "GetPrint":
                $("#tdItemCode").html('');
                $("#tdItemName").html('');
                $("#tdSystemWeight").html('');
                $("#tdTolerance").html('');
                $("#tdNetWeight").html('');
                $("#tdTotalWeight").html('');

                var grid = $("#grid").data("kendoGrid");
                var data = grid.dataSource.data('');
                $("#Barcode").data("kendoTextBox").value('');
                return;
            default:
                break;
            }

        } else {
            bootbox.alert({ message: result.message, centerVertical: true });
            $('#divPartial').html("");
        }
    }

    function onDataBound() {
        var grid = $("#grid").data("kendoGrid");
        var data = grid.dataSource.data();

        $.each(data,
            function(i, row) {
                if (row.Barcode > 0 && row.Barcode < row.Status) {
                    $('tr[data-uid="' + row.uid + '"] ').css("background-color", "lightgreen");
                }
                if (row.Quantity <= 0) {
                    $('tr[data-uid="' + row.uid + '"] ').css("background-color", "cornsilk");
                }
            });
    }

    function handle_label_response(result, action) {
        if (!result.error) {
            // Show label
            $('#divPartial').html(result);
            switch (action) {
            case "Print":
                //alert("Printing Calling");
                //printDiv(result);
                window.printToPrinter();
                window.clear_controls();
                break;
            case "Duplicate":
                window.printToPrinter();
                window.clear_controls();
                break;
            }
        } else {
            bootbox.alert({
                message: result.message,
                centerVertical: true
            });
            $('#divPartial').html("");
        }
    }

    function handle_label_request(url, formData, action) {
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: url,
            data: formData,

            processData: false,
            contentType: false,
            cache: false,
            success: function (result) {
                handle_label_response(result, action);
            },
            error: function (e) {
                bootbox.alert(e.responseText);
            }
        });
    }



    @*duplicate = function () {
       // alert("hello");
        bootbox.prompt({
             title: "Carton No!",
            centerVertical: true,
            callback: function (result) {
                var url = '@Url.Action("DuplicateLabel", "PackingWeighing")';
                var formData = new FormData(); // Create an arbitrary FormData instance
                //formData.append('warehouseOrderNo', result);
                formData.append('cartonNo', result);
                handle_label_request(url, formData, "Duplicate");
            }
        });
        bootbox.prompt({
            title: "Warehouse Order No!",
            centerVertical: true,
            callback: function (result) {
                var url = '@Url.Action("DuplicateLabel", "PackingWeighing")';
                var formData = new FormData(); // Create an arbitrary FormData instance
                formData.append('warehouseOrderNo', result);
            }
        });
    }*@

</script>














