@using Corno.Web.Globals
@using Corno.Web.Helper
@model Corno.Web.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@{
    ViewBag.Controller = "Manage";
    ViewBag.SubmitAction = "Change Password";
}

@{
    ViewBag.BoxTitle = "Change Password";
    ViewBag.Title = "Change Password";
}

<div class="container-fluid">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { id = "form", @class = "" }))
    {
        @Html.AntiForgeryToken();

        @Html.EditorFor(m => m.UserName, new { Name = "User Name " })
        @Html.EditorFor(m => m.NewPassword, new { Name = "Password ", type = "Password" })
        @Html.EditorFor(m => m.ConfirmPassword, new { Name = "Confirm Password ", type = "Password" })

        @(Html.Kendo().Button()
            .Name("submit")
            .Content("Change Password")
            .ApplyStandardSettingsWithType(ButtonType.Save, "password", ComponentSize.Medium)
            .HtmlAttributes(new
            {
                type = "submit",
                @class = "w-100 offset-10 col-sm-2",
                style = "height:60px"
            }))

        @*<div class="form-group row offset-2">
                @Html.LabelFor(m => m.NewPassword, "Password :",
                    new { @class = "col-2" })
                <div class="col-8">
                    @Html.EditorFor(m => m.NewPassword, new { Name = "Password " })
                </div>
            </div>*@
        @*<div class="form-group row offset-2">
                @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password :",
                    new { @class = "col-2" })
                <div class="col-8">
                    @Html.EditorFor(m => m.ConfirmPassword, new { Name = "Confirm Password " })
                </div>
            </div>*@

        @*<br />
        <div class="form-group row offset-4">
            <input type="submit" name="button" value="Change password" class="btn btn-default btn-block btn-danger col-sm-2" />
        </div>*@

    }
</div>


