@using Corno.Web.Helper
@using Kendo.Mvc.UI
@model Corno.Web.Areas.Admin.Dto.UserCrudDto


@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";

    ViewBag.BoxTitle = $"Change Password : {Model.UserName}";

    var action = ViewBag.Action;
}

<div class="k-actions k-actions-horizontal k-actions-end">
    @(Html.Kendo().Button()
        .Name("btnList")
        .Content("Back")
        .ApplyStandardSettingsWithType(ButtonType.Info, "arrow-left", ComponentSize.Medium)
        .Events(e => e.Click("onBack")))
</div>

@Html.ValidationSummary(false)
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
        <div class="k-card-separator"></div>
            <div class="row">
                <div class="form-group">
                    <div class="col-8">
                        @(Html.Kendo().TextBoxFor(m => m.UserName)
                            .Rounded(Rounded.Medium)
                            .Label(label => label
                                .Content("User Name")
                                .Floating(true))
                            .HtmlAttributes(new
                            {
                                @class = "required w-100",
                                style = "width: 100%;",
                                disabled = "disabled"
                            }))
                    </div>
                    <div class="col-sm-8">
                        @(Html.Kendo().TextBoxFor(m => m.Password)
                            .Rounded(Rounded.Medium)
                            .Label(label => label
                                .Content("New Password")
                                .Floating(true))
                            .HtmlAttributes(new
                            {
                                type = "password",
                                @class = "required w-100",
                                style = "width: 100%;"
                            }))
                    </div>
                    <div class=" col-sm-8">
                        @(Html.Kendo().TextBoxFor(m => m.ConfirmPassword)
                            .Rounded(Rounded.Medium)
                            .Label(label => label
                                .Content("Confirm Password")
                                .Floating(true))
                            .HtmlAttributes(new
                            {
                                type = "password",
                                @class = "required w-100",
                                style = "width: 100%;"
                            }))
                    </div>
                </div>
            </div>
        <div class="k-actions k-actions-horizontal k-actions-end">
            @*@(Html.Kendo().Button()
                .Name("submit")
                .Icon("password")
                .SpriteCssClass("k-icon-64")
                .HtmlAttributes(new
                {
                    type = "submit",
                    //@class = "k-info rounded-lg text-white k-icon-48 w-95 offset-11 col-1",
                    @class = "",
                    style = "height:36px"
                    //style = "height:40px; background-color:#3498db; border-color:#2980b9; border-radius: 8px; margin-left: 2px; padding: 2px;"
                })
                .Content("Change Password"))*@
            @(Html.Kendo().Button()
                .Name("submit")
                .Content("Change Password")
                .ApplyStandardSettingsWithType(ButtonType.Save, "password", ComponentSize.Medium)
                .HtmlAttributes(new
                {
                    type = "submit",
                    //name = "action:Create"
                    style = "height:36px"
                }))
        </div>
        <br/>
}

<script>

    function onBackToList() {
        window.location.href = '/Masters/User/Index';
    }

    function onBack() {
        // Try to use referrer if available and from same origin
        var referrer = document.referrer;
        if (referrer && referrer.indexOf(window.location.origin) === 0) {
            var referrerPath = new URL(referrer).pathname;
            if (referrerPath && referrerPath !== window.location.pathname) {
                window.location.href = referrer;
                return;
            }
        }
        // Fallback to Admin/User/Index
        window.location.href = '/Admin/User/Index';
    }

</script>
