@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@model Corno.Web.Areas.Masters.Dtos.Item.ItemDto

@{
    ViewBag.Index = "Index";
    ViewBag.Create = "Create";
    ViewBag.Edit = "Edit";
    ViewBag.Details = "Details";
    ViewBag.Delete = "Delete";
}

@{
    Page.Title = "Item";
    ViewBag.MainMenu = "Masters";
    ViewBag.CurrentSitemap = "Item";
    ViewBag.Controller = "Item";
}

@Html.HiddenFor(m => m.Id)

<!-- Toggle button visible on mobile to open the responsive panel -->
<button id="itemPanelToggle" class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary rp-toggle" type="button">
    <span class="k-icon k-i-menu"></span>
    Show Details
</button>

@(Html.Kendo().ResponsivePanel()
    .Name("itemPanel")
    .Orientation(ResponsivePanelOrientation.Top)
    .Breakpoint(100)
    .ToggleButton("#itemPanelToggle")
    .HtmlAttributes(new { style = "margin-bottom: 20px;" })
    .Content(@<text>
        <div class="responsive-panel-container">
            <!-- Basic Information Section -->
            <div class="k-widget k-panel mb-4">
                <h3 class="k-panel-title">Basic Information</h3>
                <div class="k-panel-content">
                    @Html.Partial("Partials/_MasterEdit", Model)
                </div>
            </div>
            
            <!-- Item Details Section -->
            <div class="k-widget k-panel mb-4">
                <h3 class="k-panel-title">Item Details</h3>
                <div class="k-panel-content">
                    @(Html.Kendo().TabStrip()
                        .Name("tabStrip")
                        .Items(tabStrip =>
                        {
                            tabStrip.Add().Text("General")
                                .Content(@Html.Partial("~/Areas/Masters/Views/Item/_GeneralTab.cshtml", Model).ToString());
                            tabStrip.Add().Text("Cost")
                                .Content(@Html.Partial("~/Areas/Masters/Views/Item/_CostTab.cshtml", Model).ToString());

                            tabStrip.Add().Text("Dimensions")
                                .Content(@Html.Partial("~/Areas/Masters/Views/Item/_DimensionTab.cshtml", Model).ToString());

                            tabStrip.Add().Text("Packet Details")
                                .Content(@Html.Partial("~/Areas/Masters/Views/Item/_PacketDetailsTab.cshtml", Model).ToString());
                        })
                        .SelectedIndex(0))
                </div>
            </div>
        </div>
    </text>
    )
)
