@using Corno.Web.Globals
@using Corno.Web.Helper
@using Kendo.Mvc.UI
@model Corno.Web.Areas.Kitchen.Dto.TrolleyLabel.TrolleyLabelCrudDto

@{
    //string controllerName = "TrolleyLabel";
    //string action = "Create";
    ViewBag.BoxTitle = "Trolley Label";
    ViewBag.Title = "Trolley Label";
}

@(Html.Kendo().TileLayout()
    .Name("tileLayout")
    .Columns(2)
    .RowsHeight("140px")
    .ColumnsWidth("100%")
    .Containers(c => {
             c.Add()
                 .BodyTemplateId("partial-view")
                 .Header(h => h.Text("Header Info"))
                 .ColSpan(1)
                 .RowSpan(4);
             c.Add()
                 .BodyTemplateId("template-items-Info")
                 .Header(h => h.Text("Items Info"))
                 .ColSpan(1)    
                 .RowSpan(4);
    })
    .Reorderable(true)
    .Resizable(true))

<script id="partial-view" type="text/x-kendo-template">
        <!-- Placeholder for the partial view -->
        <div id="partialViewContainer" style="height: 100%"></div>
</script>

<script id="template-items-Info" type="text/x-kendo-template">
  <div class=" k-content">
     @*@using (Ajax.BeginForm(action, controllerName, new AjaxOptions { HttpMethod = "POST", OnComplete = "displayUploadMediaMsg" }, new { enctype = "multipart/form-data", id = "form" }))
     {*@
         @Html.AntiForgeryToken()
         <div class="row">
            <div class="col-12">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group required row">
                        @Html.LabelFor(m => m.DueDate, "Due Date :",
                            new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @(Html.Kendo().DatePickerFor(m => m.DueDate)
                                .Format("yyyy-MM-dd")
                                .Events(e => e.Change("onDueDateChange"))
                                .HtmlAttributes(new { @class = "w-100" }).ToClientTemplate())
                        </div>
                    </div>
                     <div class="form-group required row">
                        @Html.LabelFor(m => m.LotNo, "Lot No :", new { @class = "col-4 col-form-label" })
                             <div class="col-8">
                                 @(Html.Kendo().MultiColumnComboBoxFor(m => m.LotNo)
                                     .DataTextField(FieldConstants.LotNo)
                                     .DataValueField(FieldConstants.LotNo)
                                     .HtmlAttributes(new {  @class = "w-100" })
                                     .Filter("contains")
                                     .Placeholder("Select ...")
                                     .Suggest(true)
                                     //.Events(e => e.Select("OnLotSelect"))
                                     .Columns(columns => { columns.Add().Field(FieldConstants.LotNo).Title(FieldConstants.LotNo); })
                                     .DataSource(dataSource => dataSource
                                         .Read(read => { read.Action("GetLotNos", "TrolleyLabel").Data("getLotParameters"); })
                                         .ServerFiltering(true)
                                     )
                                     .AutoBind(false)
                                     .CascadeFrom(FieldConstants.DueDate).ToClientTemplate())
                           </div>
                      </div>

                     <div class="form-group required row">
                         @Html.LabelFor(m => m.WarehouseOrderNo, "Warehouse Order:", new { @class = "col-4 col-form-label" })
                         <div class="col-8">
                             @(Html.Kendo().MultiColumnComboBoxFor(m => m.WarehouseOrderNo)
                                 .DataTextField(FieldConstants.WarehouseOrderNo)
                                 .DataValueField(FieldConstants.WarehouseOrderNo)
                                 .HtmlAttributes(new {  @class = "w-100" })
                                 .Filter("contains")
                                 .Placeholder("Select ...")
                                 .Suggest(true)
                                 // .Events(e => e.Select("OnLotSelect"))
                                 .Columns(columns => { columns.Add().Field(FieldConstants.WarehouseOrderNo).Title(FieldConstants.WarehouseOrderNo); })
                                 .DataSource(dataSource => dataSource
                                     .Read(read => { read.Action("GetWarehouseOrderNos", "TrolleyLabel").Data("getWarehouseParameters"); })
                                     .ServerFiltering(true)
                                 )
                                 .AutoBind(false)
                                 .CascadeFrom(FieldConstants.LotNo).ToClientTemplate())
                         </div>
                    </div>

                        <div class="form-group required row">
                          @Html.LabelFor(m => m.Family, "Family:", new { @class = "col-sm-4 col-form-label" })
                             <div class="col-8">
                                @(Html.Kendo().MultiColumnComboBoxFor(m => m.Family)
                                    .DataTextField(FieldConstants.Family)
                                    .DataValueField(FieldConstants.Family)
                                    .HtmlAttributes(new {  @class = "w-100" })
                                    .Filter("contains")
                                    .Placeholder("Select ...")
                                    .Suggest(true)
                                    //.Events(e => e.Select("OnSelect"))
                                    //.Columns(columns => { columns.Add().Field(FieldConstants.Group).Title(FieldConstants.Group.ToCamelCase()).Width("480px"); })
                                    .DataSource(dataSource => dataSource
                                        .Read(read => { read.Action("GetFamilies", "TrolleyLabel").Data("getFamilyParameters"); })
                                        .ServerFiltering(true)
                                    )
                                    .AutoBind(false)
                                    .CascadeFrom(FieldConstants.WarehouseOrderNo).ToClientTemplate())
                            </div>
                                <div class="k-actions k-actions-horizontal k-actions-end">
                                @(Html.Kendo().Button()
                                    .Name("print")
                                    .Content("Print")
                                    .ApplyStandardSettingsWithType(ButtonType.Primary, "print", ComponentSize.Medium)
                                    .HtmlAttributes(new
                                    {
                                        type = "submit",
                                        name = "action:Print",
                                        @class = ""
                                    }).ToClientTemplate())

                                @(Html.Kendo().Button()
                                    .Name("preview")
                                    .Content("Preview")
                                    .ApplyStandardSettingsWithType(ButtonType.Info, "preview", ComponentSize.Medium)
                                    .Events(e => e.Click("onPrintLabel"))
                                    .HtmlAttributes(new
                                    {
                                        type = "submit",
                                        name = "action:Preview"
                                    }).ToClientTemplate())
                            </div>
                       </div>


                </div>
            </div>
        </div>
      @*}*@
  </div>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#form").kendoValidator({
            rules: {
                requiredMultiColumnComboBox: function (input) {
                    if (input.is("[data-role=multicolumncombobox]")) {
                        return input.val() !== "";
                    }
                    return true;
                },
                requiredDatePicker: function (input) {
                    if (input.is("[data-role=datepicker]")) {
                        var value = input.val();
                        // Check if the value is a valid date
                        return kendo.parseDate(value) !== null;
                    }
                    return true;
                }
            },
            messages: {
                requiredMultiColumnComboBox: function (input) {
                    var comboBoxName = input.attr("name");
                    switch (comboBoxName) {
                        case "LotNo":
                            return "Please select Lot No.";
                        case "WarehouseOrderNo":
                            return "Please select Warehouse Order No";
                        case "Group":
                            return "Please select Group.";
                        // Add cases for other comboboxes as needed
                        default:
                            return "Please select a value for the ComboBox.";
                    }
                },
                requiredDatePicker: "Please select due date."
            }
        });

        LoadPartialView()
    });

    function LoadPartialView(toPrinter) {
        $.ajax({
            url: '/TrolleyLabel/LoadPartialView', // Replace with your actual controller and action
            method: 'GET',
            data: { 'partialViewName': 'Partials/ReportViewer_New' },
             success: function (partialHtml) {
                 $('#partialViewContainer').html(partialHtml, function () {
                     // This code will execute after the HTML content has been loaded
                     console.log("HTML content loaded successfully");
                 });

                 // Delay the execution of the next statement by a short duration
                 setTimeout(function () {
                     // This code will execute after a short delay
                     console.log("Timeout HTML content loaded successfully");
                     if ('@Model.PrintToPrinter' === 'True' || toPrinter === true) {
                         printToPrinter();
                     }

                 }, 2000); // Adjust the delay duration as needed
             },
                    error: function () {
                         console.error('Failed to load the partial view.');
                    }
        });
     }

    //$(document).ready(function () {
    //    LoadPartialView()
    //});

    function onDueDateChange(e) {
        //alert("hello");
        var cmblotNo = $("#LotNo").data("kendoMultiColumnComboBox");
        cmblotNo.dataSource.read();
    }

    @*function OnLotsSelect(e) {
        $.ajax({
            url: '@Url.Action("GetLayoutDataSource")',
            data: { 'warehouseOrderNo': e.dataLot, 'lot': $('#WarehouseOrderNo').val() },
            type: "post",
            cache: false,
            success: function (result) {
                //alert("Success");
                $("#tdLotNo").html(result.LotNo);
                $("#tdWarehouseOrderNo").html(result.warehouseOrderNo);
                $("#tdOrderQuantity").html(result.OrderQuantity);
                $("#tdPrintQuantity").html(result.PrintQuantity);
                $("#tdPendingQuantity").html(result.PendingQuantity);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                bootbox.alert("Failure");
            }});

        return;
    }*@

    function onPrintLabel(e) {
        $.ajax({
            url: '/TrolleyLabel/Preview', // Replace ControllerName with your actual controller name
            type: 'POST',
            data: { /* Pass any required data here */ },
            success: function (response) {
                // Handle the success response (e.g., update the view or show a message)
                console.log("Preview successfully processed.");
            },
            error: function (xhr, status, error) {
                // Handle the error response
                console.error("Error occurred: ", error);
            }
        });
    }

    function getLotParameters() {
        return {
            dueDate: $('#DueDate').val()
        }
    }

    function getWarehouseParameters() {
        return {
            lotNo: $('#LotNo').val()
        }
    }

    function getFamilyParameters() {
        return {
            warehouseOrderNo: $('#WarehouseOrderNo').val()
        }
    }

</script>
