@using Corno.Globals.Constants
@using Corno.Services.Common
@using Corno.Services.Common.Interfaces
@using Corno.Services.Helpers
@using Corno.Services.Windsor
@using Kendo.Mvc.UI
@model Corno.Concept.Modules.Masters.Models.Item

@{
    ViewBag.Index = "Index";
    ViewBag.Create = "Create";
    ViewBag.Edit = "Edit";
    ViewBag.Details = "Details";
    ViewBag.Delete = "Delete";
}

@{
    Page.Title = "Bom";
    ViewBag.MainMenu = "Masters";
    ViewBag.CurrentSitemap = "Bom";
    ViewBag.Controller = "Bom";
}

@{
    var miscMaster = (IMiscMasterService)Bootstrapper.GetService(typeof(MiscMasterService));
}

@Html.HiddenFor(m => m.Id) 

<!-- Toggle button visible on mobile to open the responsive panel -->
<button id="bomPanelToggle" class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary rp-toggle" type="button">
    <span class="k-icon k-i-menu"></span>
    Show Details
</button>

@(Html.Kendo().ResponsivePanel()
    .Name("bomPanel")
    .Orientation(ResponsivePanelOrientation.Top)
    .Breakpoint(100)
    .ToggleButton("#bomPanelToggle")
    .HtmlAttributes(new { style = "margin-bottom: 20px;" })
    .Content(@<text>
        <div class="responsive-panel-container">
            <div class="k-widget k-panel mb-4">
                <h3 class="k-panel-title">Basic Information</h3>
                <div class="k-panel-content">
                    @Html.Partial("Partials/_MasterEdit", Model)
                </div>
            </div>

            <div class="k-widget k-panel mb-4">
                <h3 class="k-panel-title">Details</h3>
                <div class="k-panel-content">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General</a>
                            <a class="nav-item nav-link" id="nav-cost-tab" data-toggle="tab" href="#nav-cost" role="tab" aria-controls="nav-cost" aria-selected="false">Cost</a>
                            <a class="nav-item nav-link" id="nav-dimensions-tab" data-toggle="tab" href="#nav-dimensions" role="tab" aria-controls="nav-dimensions" aria-selected="false">Dimensions</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- General Tab -->
                        <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.UnitId, "Unit :",
                                            new { @class = "col-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().MultiColumnComboBoxFor(m => m.UnitId)
                                                  .DataTextField(FieldConstants.Name)
                                                  .DataValueField(FieldConstants.Id)
                                                  .HtmlAttributes(new {@class = "w-100"})
                                                  .Filter("contains")
                                                  .Placeholder("Select ...")
                                                  .Suggest(true)
                                                  .Columns(columns =>
                                                  {
                                                      columns.Add().Field(FieldConstants.Code).Title(FieldConstants.Code).Width("250px");
                                                      columns.Add().Field(FieldConstants.Name).Title(FieldConstants.Name).Width("300px");
                                                  })
                                                  .BindTo(miscMaster.GetViewModelList(m => m.MiscType == MiscMasterConstants.Unit)))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.FlavorId, "Flavor :",
                                            new { @class = "col-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().MultiColumnComboBoxFor(m => m.FlavorId)
                                                  .DataTextField(FieldConstants.Name)
                                                  .DataValueField(FieldConstants.Id)
                                                  .HtmlAttributes(new {@class = "w-100"})
                                                  .Filter("contains")
                                                  .Placeholder("Select ...")
                                                  .Suggest(true)
                                                  .Columns(columns =>
                                                  {
                                                      columns.Add().Field(FieldConstants.Code).Title(FieldConstants.Code).Width("250px");
                                                      columns.Add().Field(FieldConstants.Name).Title(FieldConstants.Name).Width("300px");
                                                  })
                                                  .BindTo(miscMaster.GetViewModelList(m => m.MiscType == MiscMasterConstants.Flavor)))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.ReorderLevel, "Recorder Level :",
                                            new { @class = "col-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.ReorderLevel)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.BoxQuantity, "Bag Quantity :",
                                            new { @class = "col-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.BoxQuantity)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Color, "Color :",
                                            new { @class = "col-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().TextBoxFor(m => m.Color)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.DrawingNo, "Drawing No :",
                                            new { @class = "col-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().TextBoxFor(m => m.DrawingNo)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.StockQuantity, "Stock Quantity :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.StockQuantity)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.ItemCategory, "Item Category :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.ItemCategoryId)
                                                  .HtmlAttributes(new {@class = "w-100"}))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.ItemType, "Item Type :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().MultiColumnComboBoxFor(m => m.ItemType)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-8 offset-sm-4">
                                            @(Html.Kendo().CheckBoxFor(m => m.Weighing)
                                                  .Label("Weighing")
                                                  .HtmlAttributes(new { @class = "offset-sm-2" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-8 offset-sm-4">
                                            @(Html.Kendo().CheckBoxFor(m => m.QcCheck)
                                                  .Label("Qc Check")
                                                  .HtmlAttributes(new { @class = "offset-sm-2" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-8 offset-sm-4">
                                            @(Html.Kendo().CheckBoxFor(m => m.PartialQc)
                                                  .Label("Allow Partial Qc")
                                                  .HtmlAttributes(new { @class = "offset-sm-2" }))
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.RackNo, "Rack No :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().TextBoxFor(m => m.RackNo)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Cost Tab -->
                        <div class="tab-pane fade" id="nav-cost" role="tabpanel" aria-labelledby="nav-cost-tab">
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Rate, "Rate :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.Rate)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Dimensions Tab -->
                        <div class="tab-pane fade" id="nav-dimensions" role="tabpanel" aria-labelledby="nav-dimensions-tab">
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Weight, "Standard Weight :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.Weight)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Thickness, "Thickness :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.Thickness)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Length, "Length :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.Length)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Width, "Width :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.Width)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Red, "Red (R) :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.Red)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Green, "Green (G) :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.Green)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.Blue, "Blue (B) :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.Blue)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.WeightTolerance, "Weight Tolerance :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.WeightTolerance)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.ThicknessTolerance, "Thickness Tol. :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.ThicknessTolerance)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.LengthTolerance, "Length Tolerance :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.LengthTolerance)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.WidthTolerance, "Width Tolerance :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.WidthTolerance)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.RedTolerance, "Red Tolerance :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.RedTolerance)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.GreenTolerance, "Green Tolerance :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.GreenTolerance)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.BlueTolerance, "Blue Tolerance :",
                                            new { @class = "col-sm-4" })
                                        <div class="col-8">
                                            @(Html.Kendo().NumericTextBoxFor(m => m.BlueTolerance)
                                                  .HtmlAttributes(new { @class = "w-100" }))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </text>
    )
)
