@using Kendo.Mvc.UI
@model Corno.Web.Areas.Kitchen.Dto.Kitting.KittingCrudDto

@{
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}

@{
    ViewBag.BoxTitle = "Create New Kitting";
    ViewBag.SubmitAction = "Create";
}

@{
    ViewBag.MainMenu = "Transaction";
    ViewBag.MainHeader = "Kitting";
    ViewBag.CurrentSitemap = "Kitting";
    ViewBag.Title = "Kitting";
}

@(Html.Kendo().TileLayout()
    .Name("tileLayout")
    .Columns(2)
    .RowsHeight("90px")
    .ColumnsWidth("100%")
    .Containers(c => {
         c.Add()
             .BodyTemplateId("template-items-Info")
             .Header(h => h.Text("Items Info"))
             .ColSpan(1)
             .RowSpan(4);
         c.Add()
             .BodyTemplateId("template-barcode")
             .Header(h => h.Text("Header Info"))
             .ColSpan(1)
             .RowSpan(4);

    })
    .Reorderable(true)
    .Resizable(true))

<script id="template-barcode" type="text/x-kendo-template">
     <div class="row required">
         @Html.LabelFor(m => m.DueDate, "Due Date",
             new { @class = "col-2" })
        <div class="col-6">
             @(Html.Kendo().DatePickerFor(m => m.DueDate)
                 .Format("d MMM yyyy")
                 .HtmlAttributes(new {@class = "w-100", onChange = "onChange(event)" }).ToClientTemplate())
         </div>
     </div>
    <br/>
    <div class="row required">
        @Html.LabelFor(m => m.Barcode, "Barcode", new { @class = "col-2 " })
        <div class="col-10 ">
            @(Html.Kendo().TextBoxFor(m => m.Barcode)
                .HtmlAttributes(new { @class = "specialFontSize" }).ToClientTemplate())
        </div>
    </div>
</script>

<script id="template-items-Info" type="text/x-kendo-template">

    <div class="form-group required row">
        @Html.LabelFor(m => m.ItemCode, "Item Code", new { @class = "col-3" })
         <div class="col-9">
             @Html.DisplayFor(m => m.ItemCode)
         </div>
     </div>
    <br />
     <div class="form-group required row">
             @Html.LabelFor(m => m.ItemCode, "Item Name", new { @class = "col-3" })
         <div class="col-9">
             @Html.DisplayFor(m => m.ItemName)
         </div>
     </div>
    <br />
     <div class="form-group required row">
            @Html.LabelFor(m => m.SoNo, "So No", new { @class = " col-3" })
             <div class="col-6 specialFontSize">
                 @Html.DisplayFor(m => m.SoNo, new { @class = "specialFontSize", Model.SoNo })
             </div>
     </div>
    <br />
     <div class=" form-group required row ">
         @Html.LabelFor(m => m.WarehousePosition, "Warehouse Position", new { @class = "col-3" })
         <div class="col-6 specialFontSize">
             @Html.DisplayFor(m => m.WarehousePosition, new { @class = "specialFontSize", Model.WarehousePosition })
         </div>
     </div>

</script>

<style>
    .specialFontSize {
        font-size: 50px;
    }
</style>

<script type="text/javascript">

    function onSaveClick() {
        var cmbSerialNo = $("#SerialNo").data("kendoMultiColumnComboBox");
        cmbSerialNo.dataSource.read();
    };

    //// For debugging: Display focus status in the console
    //setTimeout(function () {
    //    document.getElementById("Barcode").focus();
    //    $('#Barcode').val(''); //txtID is textbox ID
    //}, 100); // Delay to ensure focus is set correctly


    setTimeout(function () {
        var $barcode = $('#Barcode');
        $barcode.focus().val('').trigger('change');
        // Simulate Enter key event
        var e = $.Event('keydown');
        e.which = 13 || e.which == 10; // 13 is Enter
        $barcode.trigger(e);
    }, 100);


    $(document).ready(function () {
        // Handle Enter key press in Barcode
        $("#Barcode").on("keypress", function (e) {
            if (e.which === 13) { // Enter key pressed
                e.preventDefault();
                $("form").submit();
            }
        });
    });

    function onChange(e) {
        /*alert("hello");*/
        var cmbbarcode = $("#barcode").data("kendoTextBox");
       /* cmbdueDate.dataSource.read();*/
    }
</script>
