@using Corno.Web.Globals
@using Corno.Web.Helper
@using Kendo.Mvc.UI
@model Corno.Web.Areas.DemoProject.Dtos.SalesInvoiceDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "View Invoice";
    ViewBag.BoxTitle = "Invoice";
    ViewBag.SubmitAction = "View";

    ViewBag.SubmitButtonText = "Print";
}

<div class="k-card">
    <div class="k-card-header">
        <div class="row col-md-12 col-sm-12">
            <div class="col-12 col-md-11">
                <h5>
                    <span class="k-icon k-i-plus k-icon k-text-success"></span>
                    @ViewBag.Title
                </h5>
            </div>
            <div class="col-12 col-md-1">
                @Html.Partial("Buttons/_ListButton", new { ButtonName = "BackToList", HtmlAttributes = new { @class = "w-100" } })
            </div>
        </div>
    </div>
    <div class="k-card-separator"></div>
    <div class="k-card-body">
        <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                @*@Html.Partial("_ReportViewer", Model)*@
            </div>
            <div class="col-12 col-md-6">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group required row">
                        @Html.LabelFor(m => m.MobileNo, "Mobile :", new { @class = "col-12 col-sm-4 col-md-4 col-form-label" })
                        <div class="col-12 col-sm-8 col-md-8">
                            @Html.HiddenFor(m => m.MobileNo)
                            @Html.DisplayFor(m => m.MobileNo)
                        </div>
                    </div>
                    <div class="form-group required row">
                        @Html.LabelFor(m => m.CustomerName, "Customer :", new { @class = "col-12 col-sm-4 col-md-4 col-form-label" })
                        <div class="col-12 col-sm-8 col-md-8">
                            @Html.HiddenFor(m => m.CustomerName)
                            @Html.DisplayFor(m => m.CustomerName)
                        </div>
                    </div>
                    <div class="form-group required row">
                        @Html.LabelFor(m => m.InvoiceDate, "Invoice Date :", new { @class = "col-12 col-sm-4 col-md-4 col-form-label" })
                        <div class="col-12 col-sm-8 col-md-8">
                            @Html.HiddenFor(m => m.InvoiceDate)
                            @Html.DisplayFor(m => m.InvoiceDate)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.PaymentMode, "Payment Mode :", new { @class = "col-12 col-sm-4 col-md-4 col-form-label" })
                        <div class="col-12 col-sm-8 col-md-8">
                            @Html.HiddenFor(m => m.PaymentMode)
                            @Html.DisplayFor(m => m.PaymentMode)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.PaidAmount, "Paid Amount :", new { @class = "col-12 col-sm-4 col-md-4 col-form-label" })
                        <div class="col-12 col-sm-8 col-md-8">
                            @Html.HiddenFor(m => m.PaidAmount)
                            @if (Model.PaidAmount.HasValue)
                            {
                                <span class="text-right">@Model.PaidAmount.Value.ToString("N2")</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-12">
                            @(Html.Kendo().Grid(Model.SalesInvoiceDetailDtos)
                                .Name("grid")
                                .ToolBar(t => t.Search())
                                .Pageable()
                                .Sortable()
                                .Filterable()
                                .Resizable(resize => resize.Columns(true)) // Allow column resizing
                                .PersistSelection()
                                .HtmlAttributes(new { @class = "w-100" })
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.ProductName)
                                        .Title("Product")
                                        .HtmlAttributes(new { style = "text-align: left" })
                                        .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
                                        .Width(300);

                                    columns.Bound(m => m.Mrp)
                                        .Title("MRP")
                                        .HtmlAttributes(new { style = "text-align: right" })
                                        .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
                                        .FooterHtmlAttributes(new { style = "text-align: right" })
                                        .ClientFooterTemplate("Total : #= kendo.toString(sum, 'n2') #")
                                        .Width(150);

                                    // Show NetWeight with PackingTypeName separated by space
                                    columns.Bound(m => m.NetWeight)
                                        .Title("Weight")
                                        .ClientTemplate("#= NetWeight # #= PackingTypeName #")
                                        .HtmlAttributes(new { style = "text-align: right" })
                                        .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
                                        .Width(200);

                                    columns.Bound(m => m.Quantity)
                                        .Title("Qty")
                                        .HtmlAttributes(new { style = "text-align: right" })
                                        .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
                                        .Width(100);

                                    columns.Bound(m => m.Barcode)
                                        .Title("Barcode")
                                        .HtmlAttributes(new { style = "text-align: left" })
                                        .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
                                        .Width(300);
                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Aggregates(aggregates =>
                                    {
                                        aggregates.Add(p => p.Mrp).Sum();
                                    })
                                    .PageSize(10)
                                    .Model(model => model.Id(p => p.Barcode))
                                ))
                        </div>
                    </div>
                    <hr />
                    @if (Model?.Status == StatusConstants.Packed)
                    {
                        <div class="form-group row">
                            <div class="offset-9 col-3">
                                @Html.Partial("Buttons/_PrintButton", new { ButtonName = "print", ButtonText = "Re-Print Label", ClickFunction = "onPrintLabel", HtmlAttributes = new { @class = "w-100" } })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        LoadPartialView()
    });

    function LoadPartialView(toPrinter) {
        $.ajax({
            url: '/DemoProject/LoadPartialView', // Replace with your actual controller and action
            method: 'GET',
            data: { 'partialViewName': 'Partials/ReportViewer_New' },
            success: function (partialHtml) {
                // Load HTML content into the element
                $('#partialViewContainer').html(partialHtml, function () {
                    // This code will execute after the HTML content has been loaded
                    console.log("HTML content loaded successfully");

                });
                // Delay the execution of the next statement by a short duration
                setTimeout(function () {
                    // This code will execute after a short delay
                    console.log("Timeout HTML content loaded successfully");
                    //if ('@Model?.PrintToPrinter' === 'True' || toPrinter === true) {
                        //printToPrinter();
                    //}
                }, 1500); // Adjust the delay duration as needed
            },
            error: function () {
                console.error('Failed to load the partial view.');
            }
	    });
    }

    function onBackToList() {
        window.location.href = '/DemoProject/SalesInvoice/Index';
    }

    function onPrintLabel() {
        printToPrinter();
    }
</script>